.footer {
  background: black;
  padding: 20px;
  color: white;
  height: 100px;
}
.footer ul{
  float: left;
  margin: 0;
  padding-right: 100px;
}
.footer ul li {
  list-style: none;
  font-size: 18px;
}
.copyright{
  float: left;
  width: 80%;
}
