.col-4 {
  background: antiquewhite;
}

.main-content {
  min-height: 500px;
  padding: 10px;
}

.font-red {
  color: red;
}

.second-block {
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid gold;
}
