/* You can add global styles to this file, and also import other style files */
body{
  background: darkseagreen;
  font-family: "DejaVu Math TeX Gyre";
}
a{
  text-decoration: none;
  font-family: AnjaliOldLipi;
  color: white;
}
